<p>Welcome</p>

<% if @user %>
  <p>Welcome, <%= @user.username %></p>
  <% if @user && @user.profile_picture.attached? %>
    <%= image_tag @user.profile_picture, class: "img-fluid profile-picture" %>
  <% else %>
    <p>No profile picture uploaded.</p>
  <% end %>
  <%= link_to 'Edit my account', edit_user_path(@user), class: 'btn btn-primary' %>
  <%= link_to 'View Profile', user_profile_path(@user), class: 'btn btn-info' %>
  <%= link_to 'Logout', logout_path, method: :get, class: 'btn btn-danger' %>

<% end %>
