<p>Welcome</p>

<% if @user %>
  <p>Welcome, <%= @user.username %></p>
  <% if @user && @user.profile_picture.attached? %>
    <%= image_tag @user.profile_picture, class: "img-fluid profile-picture" %>
  <% else %>
    <p>No profile picture uploaded.</p>
  <% end %>
 <div class="page-header">
  <%= link_to 'Edit my account', edit_user_path(@user), class: 'header-link' %>
  <%= link_to 'View Profile', user_profile_path(@user), class: 'header-link' %>
  <%= link_to 'Logout', logout_path, method: :get, class: 'header-link' %>
</div>

<div class="artworks-feed">
  <% if @random_artworks.present? %>
    <% @random_artworks.each do |artwork| %>
      <div class="artwork-card">
        <%= link_to artwork_path(artwork) do %>
          <img src="<%= artwork.image_url %>" alt="<%= artwork.artwork_name %>" class="artwork-image">
          <h3 class="artwork-title"><%= artwork.artwork_name %></h3>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p class="no-artworks">No artworks available at the moment.</p>
  <% end %>
</div>
<% end %>